.hero{
    .container{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    &__text{
        padding-top: 66px;
        display: grid;
        grid-template-rows: 221px 213px 133px;
        &__head{
            display: flex;
            align-items: center;
            &__main{
                font-style: normal;
                font-weight: 600;
                font-size: 64px;
                line-height: 80px;
            }
            &__img{
                margin-left: 55px;
                margin-top: 64px;
                width: 85.24px;
                height: 85.24px;
                transform: rotate(38.44deg);
            }
        }
    }
    &__descr{
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 24px;
        line-height: 36px;
        font-weight: 400;
        color: #8f95a5;
    }
    &__button{
        box-sizing: border-box;
        border-radius: 15px;
        background-color: #263238;
        padding: 17px 57px;
        font-weight: 300;
        font-size: 36px;
        line-height: 54px;
        width: 438px;
        height: 118px;
        color:white;
        letter-spacing: 1.8px;
    }
    &__content{
        padding-left: 10px;
    }
}