@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    font-family:"Poppins", sans-serif ;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1370px;
}

.list-reset{
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn-reset{
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
}